.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
}

.navlink {
    transition: all 0.2s ease-in;
    position: relative;
}

.navlink::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

.navlink:hover::before,
.active_navlink::before {
    width: 100%;
}